{% extends "main.twig" %} {% block content %}
<h1>Your Account</h1>
<div class="ruled">
  <section>
    <h2>Details</h2>
    <p><b>Email</b>{{ account.email }}</p>
    {% if account.admin %}
    <p><b>Admin</b>(<a href="/manage">Manage</a>)</p>
    {% endif %}
    <p><a href="/logout">Logout</a></p>
  </section>
  <section>
    <h2 id="tickets">Tickets</h2>
    <table>
      <tr>
        <th>Film</th>
        <th>When</th>
        <th>Where</th>
        <th>A</th>
        <th>C</th>
        <th>S</th>
      </tr>
      {% for b in bookings %}
      <tr>
        <td>{{ b.film }}</td>
        <td>{{ b.start }}</td>
        <td>{{ [b.cinema_area, b.cinema_city]|join(", ")  }}</td>
        <td>{{ b.tickets_adult }}</td>
        <td>{{ b.tickets_child }}</td>
        <td>{{ b.tickets_student }}</td>
      </tr>
      {% endfor %}
    </table>
  </section>
</div>
{% endblock %}
