{% extends "main.twig" %} {% block content %} {% for c in cinemas %}
<h1>Our Cinemas</h1>
<section>
  <h2>{% if c.area is defined %}{{ c.area }}, {% endif %}{{ c.city }}</h2>

  <h3>Facilities</h3>
  <p>{% if c.shop is defined %}Shop{% else %}None{% endif %}</p>

  <h3>Find Us</h3>
  <address>
    <p>{{ c.area }}</p>
    <p>{{ c.address }}</p>
    <p>{{ c.city }}</p>
    <p>{{ c.postcode }}</p>
  </address>
</section>
{% endfor %} {% endblock %}
