{% extends "manage/main.twig" %} {% block content %}
<h1>Screening: {{ screening.id }}</h1>
<section class="ruled">
  <form method="POST" action="/manage/screenings/{{ screening.id }}">
    <table>
      <tr>
        <td>ID</td>
        <td>{{ screening.id }}</td>
      </tr>
      <tr>
        <td>Start</td>
        <td>
          <input type="datetime" name="start" value="{{ screening.start }}" />
        </td>
      </tr>
      <tr>
        <td>Film</td>
        <td>
          <select name="film">
            {% for film in films %}
            <option value="{{ film.id }}"
            {% if film.id==screening.film_id %}selected{% endif %}
              >{{ film.id }} - {{ film.title }}
            </option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>Screen</td>
        <td>
          <select name="screen">
            {% for screen in screens %}
            <option
              value="{{ screen.id }}"
              {% if screen.id==screening.screen_id %}selected{% endif %}
            >{{ screen.no }} -
              {{[screen.cinema_area, screen.cinema_city]|join(", ")}}
            </option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" value="Update" />
        </td>
      </tr>
    </table>
  </form>
</section>
<section class="ruled">
  <p>{{ msg }}</p>
</section>
{% endblock %}
